.logo{
    width: 100px;
    height: 100px;
}

div{
    text-align: center;
    flex: content;
    flex-direction: column;
}

main{
    background-color: #580f78;
    /* background-color: #bd40f4; */
}